body{
    background-image: url('https://cdn.discordapp.com/attachments/1002748231580663946/1008488115142393976/Polish_20220814_183130209.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
}